@use "sass:math";

$button-position: 20px;
$button-size: 46px;
$line-width: 26px;
$line-height: 2px;
$line-color: #07080a;

@mixin navbar-icon__line {
  width: $line-width;
  height: $line-height;
  background-color: $line-color;
  display: inline-block;
}
@mixin navbar-icon__before-after {
  content: '';
  position: absolute;
  left: 0;
  transition: all .2s;
}

.floating-navbar {
  position: fixed;
  z-index: 5;

  .floating-navbar__button {
    position: fixed;
    display: block;
    top: $button-position;
    right: $button-position;
    height: $button-size;
    width: $button-size;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    box-shadow: 0 0 5px 1px #333;
    cursor: pointer;
    z-index: 8;

    .floating-navbar__button__icon {
      position: relative;
      margin-top: math.div(($button-size - $line-height), 2);
      @include navbar-icon__line();

      &::before {
        @include navbar-icon__before-after();
        @include navbar-icon__line();
        top: $line-height * 3;
      }
      &::after {
        @include navbar-icon__before-after();
        @include navbar-icon__line();
        top: -$line-height * 3;
      }
    }
  }

  .floating-navbar__background {
    position: fixed;
    top: $button-position;
    right: $button-position;
    height: $button-size;
    width: $button-size;
    border-radius: 50%;
    background-image: radial-gradient(#005a73, #71006d);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    will-change: transform;
    z-index: 6;
  }

  .floating-navbar__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.8s ease-in-out;
    pointer-events: none;
    z-index: 7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .floating-navbar__content__link {
      @include roboto-slab('bold', 32px);
      margin-right: 0;
      margin-bottom: 20px;
      opacity: 1;

      &.link-local--selected {
        margin-bottom: 24px;
      }
    }
  }

  &.floating-navbar--open {
    .floating-navbar__button .floating-navbar__button__icon {
      background-color: transparent;
    }
    .floating-navbar__button .floating-navbar__button__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    .floating-navbar__button .floating-navbar__button__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    /*.floating-navbar__background {
      transform: scale(50); // Done in JS
    }*/

    .floating-navbar__content {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      transition: none;
      pointer-events: inherit;

      .floating-navbar__content__link {
        animation: fadeInLeft 0.3s ease-in-out both;
        animation-delay: .5s;

        @for $i from 2 through 4 {
          &:nth-child(#{$i}) {
            animation-delay: .5s + (.3s * ($i - 1));
          }
        }
      }
    }
  }

  @include respond-above(laptop) {
    &:not(.floating-navbar--open) {
      display: none;
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
