@mixin header-main-icon {
  font-size: 36px;
  color: #fff;
  opacity: 0.80;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:not(:last-child) {
    margin-right: 18px;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

@mixin header-main-top-bottom {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 40px 72px;
  box-sizing: border-box;
}

.header-main {
  position: relative;
  height: 100%;

  .header-main__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;

    .header-main__background-image {
      filter: blur(5px) contrast(120%) brightness(25%);
      transform: scale(1.05);
    }
  }

  .header-main__top {
    top: 0;
    @include header-main-top-bottom();
    display: flow-root;

    .header-main__top__name {
      @include roboto-slab('regular', 28px);
      float: left;
      color: #fff;
      letter-spacing: 2px;
      text-shadow: 1px 1px 0px #000;
    }

    .header-main__top__icons {
      float: right;

      .header-main__top__icon {
        @include header-main-icon();
      }
    }
  }

  .header-main__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .header-main__content {
      width: 100%;
      text-align: center;
      color: white;

      .title {
        width: 100%;
        margin: 0;
        @include roboto-slab('regular', 72px);
      }
      .subtitle {
        width: 100%;
        margin: 0;
        @include open-sans('light', 36px);

        .typewriter__cursor {
          margin-left: -6px;
        }
      }
    }
  }

  .header-main__bottom {
    bottom: 0;
    @include header-main-top-bottom();
    text-align: center;

    .header-main__bottom__icon {
      @include header-main-icon();
      font-size: 48px;
    }
  }
}
