@mixin animated-bottom-border {
  display: block;
  content: '';
  margin: auto;
  margin-top: 2px;
  height: 2px;
  border-radius: 5px;
}

.header-navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px 60px;

  .header-navbar__link {
    display: inline-block;
    @include open-sans('semibold', 20px);
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0.80;
    cursor: pointer;
    transition: opacity .5s ease-in-out;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &.header-navbar__link--selected {
      opacity: 1;

      &::after {
        @include animated-bottom-border();
        width: 100%;
        background: #fff;
      }
    }

    &.header-navbar__link--unselected {
      &::after {
        @include animated-bottom-border();
        width: 0;
        background: transparent;
        transition: width .5s ease-in-out, background-color .5s ease-in-out;
      }

      &:hover {
        opacity: 1;

        &::after {
          width: 100%;
          background: #fff;
        }
      }
    }
  }
}
