- var brugaMusicPicture = require('@/images/bruga-music.jpg');
- var brugaWeatherPicture = require('@/images/bruga-weather-r.png');

- var brugaMusicData = {
-   title: 'Bruga Music',
-   picture: brugaMusicPicture,
-   descr: 'Streaming music app made with LastFM API and YouTube Player',
-   github: 'https://github.com/Brugarolas/bruga-music',
-   link: 'https://brugarolas.github.io/bruga-music/',
-   features: ['Vue', 'Vuex', 'Vue Router', 'Webpack', 'Less']
- };

- var brugaWeatherData = {
-   title: 'Bruga Weather',
-   picture: brugaWeatherPicture,
-   descr: 'Streaming music app made with OpenWeather API',
-   github: 'https://github.com/Brugarolas/bruga-weather',
-   link: 'https://brugarolas.github.io/bruga-weather/',
-   features: ['React', 'Redux', 'Immer', 'Webpack', 'Less'],
-   lightBackground: true
- };

mixin section-projects(page)
  section.projects.scrolling-element.page.page--hidden(id=`#${page}`, data-page=page)
    +header-navbar()

    header.projects__header Personal Projects

    div.work_in_progress
      p.work_in_progress__text #[i.bruga-icon.bruga-icon-exclamation-triangle-solid.work_in_progress__icon] Work in Progress!

    div.projects__content
      +project-card(brugaMusicData)
      +project-card(brugaWeatherData)

    div.projects__bottom
      +link-local-icon(page + 1, 'link-icon--local bruga-icon bruga-icon-chevron-down-solid')
