mixin section-aboutme(name, personalPhoto, page)
  section.aboutme.page.page--hidden(data-page=page)
    +header-navbar()

    header.aboutme__header About Me

    div.aboutme__content
      div.aboutme__content__section
        div.aboutme__content__image-wrapper
          +image-round(personalPhoto, { label: 'Personal Picture', classes: 'aboutme__content__image' })
          div.aboutme__content__wrapper
            p.aboutme__content__name= name
            p.aboutme__content__location
              i.aboutme__content__icon.bruga-icon.bruga-icon-map-marker-alt-solid
              | Madrid, Spain

        div.aboutme__content__text
          p.paragraph Hi, I'm Andrés. I'm a #[span.time-elapsed(data-since='14-04-1992') 27]-year-old #[strong senior web developer] bringing #[span.time-elapsed(data-since='01-02-2015' data-since-units='months' data-since-use-suffix) 5 years]
            | in both #[strong front-end] and #[strong full-stack] positions.
          p.paragraph My goal is to make complicated things simple. I'm focused on writing clean, efficient, elegant code and crafting beautiful, responsive, user-friendly interfaces.
          p.paragraph I have experience in full project cycle from design to implementation. I work well under pressure and consistently meet deadlines and targets while still delivering high quality work.
          p.paragraph I love technology, programming and UX/UI design. I'm always trying to stay up to date on languages, frameworks and libraries. I'm also a good team player who likes agile
            | methodologies and is always thinking how to improve the product or service.

      div.aboutme__content__section
        div.aboutme__content__section__title Main technical skills
        dl.aboutme__content__skills
          dt.aboutme__content__skills__title Front-end
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-javascript.bruga-icon.bruga-icon-js-square-brands] JavaScript
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-html5.bruga-icon.bruga-icon-html5-brands] HTML5
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-css3.bruga-icon.bruga-icon-css3-alt-brands] CSS3
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-react.bruga-icon.bruga-icon-react-brands] React
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-vue.bruga-icon.bruga-icon-vuejs-brands] Vue
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-ember.bruga-icon.bruga-icon-ember-brands] Ember
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-sass.bruga-icon.bruga-icon-sass-brands] Sass
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-less.bruga-icon.bruga-icon-less-brands] Less
          dt.aboutme__content__skills__title Back-end
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-java.bruga-icon.bruga-icon-java-brands] Java
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-node.bruga-icon.bruga-icon-node-js-brands] Node
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-spring.bruga-icon.bruga-icon-leaf-solid] Spring
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-database.bruga-icon.bruga-icon-database-solid] Oracle SQL
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-mongo.bruga-icon.bruga-icon-envira-brands] MongoDB
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-hibernate.bruga-icon.bruga-icon-cubes-duotone] Hibernate
          dt.aboutme__content__skills__title Tools
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-npm.bruga-icon.bruga-icon-npm-brands] NPM
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-grunt.bruga-icon.bruga-icon-grunt-brands] Grunt
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-gulp.bruga-icon.bruga-icon-gulp-brands] Gulp
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-webpack.bruga-icon.bruga-icon-webpack] Webpack
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-jira.bruga-icon.bruga-icon-jira-brands] Jira
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-maven.bruga-icon.bruga-icon-feather-alt-duotone] Maven
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-git.bruga-icon.bruga-icon-git-alt-brands] Git
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-slack.bruga-icon.bruga-icon-slack-brands] Slack
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-bamboo.bruga-icon.bruga-icon-atlassian-brands] Bamboo
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-jenkins.bruga-icon.bruga-icon-jenkins-brands] Jenkins

    div.aboutme__bottom
      +link-local-icon(page + 1, 'link-icon--local bruga-icon bruga-icon-chevron-down-solid')
