- var brugaMusicPicture = require('@/images/bruga-music.jpg');
- var brugaWeatherPicture = require('@/images/bruga-weather-r.png');
- var vuersatilePicture = require('@/images/vuersatile-components.png');
- var codeBackgroundPicure = require('@/images/code_background_small.png');
- var vuesaxPicure = require('@/images/vuesax.png');
- var portfolioPicure = require('@/images/portfolio.png');
- var swingPicure = require('@/images/swing.png');

- var brugaMusicData = {
-   title: 'Bruga Music',
-   picture: brugaMusicPicture,
-   descr: 'Streaming music app made with LastFM API and YouTube Player',
-   github: 'https://github.com/Brugarolas/bruga-music',
-   link: 'https://brugarolas.github.io/bruga-music/',
-   features: ['Vue', 'Vuex', 'Vue Router', 'Webpack', 'Less']
- };

- var brugaWeatherData = {
-   title: 'Bruga Weather',
-   picture: brugaWeatherPicture,
-   descr: 'Weather app made with OpenWeather API',
-   github: 'https://github.com/Brugarolas/bruga-weather',
-   link: 'https://brugarolas.github.io/bruga-weather/',
-   features: ['React', 'Redux', 'Immer', 'Webpack', 'Less']
- };

- var vuerstileData = {
-   title: 'Vuersatile Components',
-   picture: vuersatilePicture,
-   descr: 'A Vue 3 component library with a CSS framework integrated! Work in progress',
-   github: 'https://github.com/Brugarolas/vuersatile-components',
-   link: 'https://brugarolas.github.io/vuersatile-components/',
-   features: ['Vue', 'Components', 'Vite', 'Pug', 'SCSS']
- };

- var vuesaxData = {
-   title: 'Vuesax',
-   picture: vuesaxPicure,
-   descr: 'A Vue component libray I co-created and I have been maintaining alone since 2020',
-   github: 'https://github.com/Brugarolas/vuesax/tree/develop',
-   link: 'https://github.com/Brugarolas/vuesax/tree/develop/#readme',
-   features: ['Vue', 'Components', 'Webpack', 'Stylus']
- };

- var swingData = {
-   title: 'Swing',
-   picture: swingPicure,
-   descr: 'A swipeable cards interface. The swipe-left/swipe-right for yes/no input. Like Tinder!',
-   github: 'https://github.com/Brugarolas/swing',
-   link: 'https://github.com/Brugarolas/swing/#readme',
-   features: ['Javascript Vanilla', 'CSS', 'Babel']
- };

- var portfolioData = {
-   title: 'My own portfolio',
-   picture: portfolioPicure,
-   descr: 'This web, my personal portfolio made with Pug and Sass',
-   github: 'https://github.com/Brugarolas/bruga-portfolio',
-   link: 'https://www.andres-brugarolas.com/',
-   features: ['Javascript Vanilla', 'Pug', 'Sass', 'Babel']
- };

- var usefulDecoratorsData = {
-   title: 'Useful Decorators',
-   picture: codeBackgroundPicure,
-   descr: 'Some useful JavaScript stage-0 decorators perfect for aspect-oriented programming paradigm',
-   github: 'https://github.com/Brugarolas/useful-decorators',
-   link: 'https://github.com/Brugarolas/useful-decorators/#readme',
-   features: ['Javascript Vanilla', 'Babel']
- };

- var reactivefyData = {
-   title: 'Reactivefy',
-   picture: codeBackgroundPicure,
-   descr: 'Reactivity library! Observes changes in objects and auto executed function that rely on those objects. Comes with an event-emitter!',
-   github: 'https://github.com/Brugarolas/reactive',
-   link: 'https://github.com/Brugarolas/reactive/#readme',
-   features: ['Javascript Vanilla', 'Reactive', 'Observale', 'Observe']
- };

- var immersibleData = {
-   title: 'Immersible',
-   picture: codeBackgroundPicure,
-   descr: 'My own version of Immersible, with extra features and more convenient API. Uses a copy-on-write mechanism for memory saving too',
-   github: 'https://github.com/Brugarolas/immersible',
-   link: 'https://github.com/Brugarolas/immersible/#readme',
-   features: ['Javascript Vanilla', 'immutable', 'copy-on-write']
- };

mixin section-projects(page)
  section.projects.scrolling-element.page.page--hidden(id=`#${page}`, data-page=page)
    +header-navbar()

    header.projects__header Personal Projects

    div.work_in_progress
      p.work_in_progress__text #[i.bruga-icon.bruga-icon-exclamation-triangle-solid.work_in_progress__icon] Work in Progress!

    div.projects__content
      +project-card(brugaMusicData)
      +project-card(brugaWeatherData)
      +project-card(vuerstileData)
      +project-card(vuesaxData)
      +project-card(swingData)
      +project-card(portfolioData)
      +project-card(usefulDecoratorsData)
      +project-card(reactivefyData)
      +project-card(immersibleData)

    div.projects__bottom
      +link-local-icon(page + 1, 'link-icon--local bruga-icon bruga-icon-chevron-down-solid', 'Next page')
