mixin section-aboutme(name, personalPhoto, page)
  section.aboutme.page.page--hidden(data-page=page)
    +header-navbar()

    header.aboutme__header About Me
    
    div.aboutme__content
      div.aboutme__content__section
        div.aboutme__content__image-wrapper
          +image-round(personalPhoto, { label: 'Personal Picture', classes: 'aboutme__content__image' })
          div.aboutme__content__wrapper
            p.aboutme__content__name= name
            p.aboutme__content__location
              i.aboutme__content__icon.fas.fa-map-marker-alt
              | Madrid, Spain

        div.aboutme__content__text
          p.paragraph Hi, I'm Andrés. I'm a #[span(data-since='14-04-1992') 27]-year-old #[strong web developer] bringing more than #[span(data-since='01-02-2015' data-suffix='years') 4 years] 
            | in both #[strong front-end] and #[strong full-stack] positions.
          p.paragraph My goal is to make complicated things simple. I'm focused on writing clean, efficient, elegant code and crafting beautiful, responsive, user-friendly interfaces.
          p.paragraph I have experience in full project cycle from design to implementation. I work well under pressure and consistently meet deadlines and targets while still delivering high quality work.
          p.paragraph I love technology, programming and UX/UI design. I'm always trying to stay up to date on languages, frameworks and libraries. I'm also a good team player who likes agile 
            | methodologies and is always thinking how to improve the product or service.

      div.aboutme__content__section
        div.aboutme__content__section__title Technical skills
        dl.aboutme__content__skills
          dt.aboutme__content__skills__title Front-end
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-javascript.fab.fa-js-square] JavaScript
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-html5.fab.fa-html5] HTML5
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-css3.fab.fa-css3] CSS3
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-react.fab.fa-react] React
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-vue.fab.fa-vuejs] Vue
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-ember.fab.fa-ember] Ember
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-sass.fab.fa-sass] Sass
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-less.fab.fa-less] Less
          dt.aboutme__content__skills__title Back-end
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-java.fab.fa-java] Java
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-node.fab.fa-node-js] Node
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-spring.fas.fa-leaf] Spring
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-database.fas.fa-database] Oracle SQL
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-mongo.fab.fa-envira] MongoDB
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-hibernate.fas.fa-cubes] Hibernate
          dt.aboutme__content__skills__title Tools
          dd.aboutme__content__skills__set
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-npm.fab.fa-npm] NPM
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-grunt.fab.fa-grunt] Grunt
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-gulp.fab.fa-gulp] Gulp
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-webpack.fas.fa-cube] Webpack
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-jira.fab.fa-jira] Jira
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-maven.fas.fa-feather-alt] Maven
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-git.fab.fa-git-alt] Git
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-slack.fab.fa-slack] Slack
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-bamboo.fab.fa-atlassian] Bamboo
            span.aboutme__content__skill #[i.aboutme__content__icon.icon-jenkins.fab.fa-jenkins] Jenkins

    div.aboutme__bottom
      +link-local-icon(page + 1, 'link-icon--local fas fa-chevron-down')
