mixin section-main(backgroundPicture, name, links, page)
  main.main.page.page--current(data-page=page)
    div.main__background
      +image-background(backgroundPicture, { classes: 'main__background-image' })

    header.main__top
      div.main__top__icons
        +link-icon(links.linkedin, 'bruga-icon bruga-icon-linkedin-brands')
        +link-icon(links.github, 'bruga-icon bruga-icon-github-brands')
      div.main__top__name= name

    div.main__content-wrapper
      div.main__content
        +typewriter({id: 'title', text: 'Front-end Developer', loop: 'false'}, 'title')
        +typewriter({text: ['Passion for programming <i class="heart bruga-icon bruga-icon-heart-solid"></i>', 'Clean code enthusiast', 'Exceptional user experience', 'Responsive & pixel-perfect layouts', 'Advanced problem-solving skills'], loop: 'true', waitFor: 'title'}, 'subtitle')

    div.main__bottom
      +link-local-icon(page + 1, 'link-icon--local bruga-icon bruga-icon-chevron-down-solid')
