mixin section-main(backgroundPicture, name, links)
  main.main.page.page--current(data-page=1)
    div.main__background
      +image-background(backgroundPicture, { classes: 'main__background-image' })

    header.main__top
      div.main__top__icons
        +link-icon(links.linkedin, 'fab fa-linkedin')
        +link-icon(links.github, 'fab fa-github')
      div.main__top__name= name

    div.main__content-wrapper
      div.main__content
        +typewriter({id: 'title', text: 'Front-end Developer', loop: 'false'}, 'title')
        +typewriter({text: ['Passion for programming <i class="heart fas fa-heart"></i>', 'Clean code enthusiast', 'Exceptional user experience', 'Responsive & pixel-perfect layouts', 'Advanced problem-solving skills'], loop: 'true', waitFor: 'title'}, 'subtitle')

    div.main__bottom
      +link-local-icon(2, 'link-icon--local fas fa-chevron-down')
