-var backgroundPicture = require('@/images/code_background.webp')
-var links = { github: 'https://github.com/Brugarolas/', linkedin: 'https://www.linkedin.com/in/andres-brugarolas-martinez/'}

+section-main(backgroundPicture, 'Andrés Brugarolas', links, 1)
