mixin link-local-icon(transitionTo, extraClasses, ariaLabel)
  a.link-icon.link-icon--local.bruga-icon.bruga-icon-chevron-down-solid(aria-label=ariaLabel, href=`#${transitionTo}`, data-transition-to=transitionTo, class=extraClasses)
