.image-background {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px) contrast(120%) brightness(25%);
  transform: scale(1.05);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #12161e;
}
