@mixin skill-icon-correction {
  font-size: 22px !important;
  top: 5px !important;

  @include respond-above(mobile) {
    font-size: 24px !important;
    top: 7px !important;
  }
}

.heart {
  color: #e63434;
  font-size: 26px;
}
.icon-javascript {
  color: #f7e018;
}
.icon-css3 {
  color: #1b73ba;
}
.icon-html5 {
  color: #e54d26;
}
.icon-react {
  color: #00d9ff;
}
.icon-vue {
  color: #3fb984;
}
.icon-svelte {
  color: #ff3c00;
}
.icon-nuxt {
  color: #00C58E;
}
.icon-sass {
  color: #ce679a;
}
.icon-less {
  color: #4484e8;
}
.icon-typescript {
  color: #3178c6;
}
.icon-storybook {
  color: #FF4785;
}
.icon-ember {
  color: #d74830;
}
.icon-grunt {
  color: #ea880c;
}
.icon-gulp {
  color: #da4648;
}
.icon-java {
  color: #73a1fb;
}
.icon-node {
  color: #669f64;
}
.icon-rust {
  color: #5a7094;
}
.icon-stripe {
  color: #635BFF;
}
.icon-mailchimp {
  color: #6e6464;
}
.icon-database {
  color: #ffb900;
  @include skill-icon-correction();
}
.icon-maven {
  color: #863086;
}
.icon-spring {
  color: #6db33f;
}
.icon-mongo {
  color: #4f9546;
}
.icon-hibernate {
  color: #bcae79;
}
.icon-webpack {
  color: #1c78c0;
  @include skill-icon-correction();
}
.icon-git {
  color: #f05030;
}
.icon-jira {
  color: #2684ff;
}
.icon-slack {
  color: #e01e5a;
}
.icon-jenkins {
  color: #d33833;
}
.icon-bamboo {
  color: #0a60da;
}
