mixin floating-navbar(selected = 1)
  nav.floating-navbar
    div.floating-navbar__button
      i.floating-navbar__button__icon
    div.floating-navbar__background
    div.floating-navbar__content
      +link-local('Home', 1, selected, 'floating-navbar__content__link')
      +link-local('About me', 2, selected, 'floating-navbar__content__link')
