mixin header-navbar(selected)
  nav.header-navbar
    a.header-navbar__link(data-transition-to=1 class=selected === 1 ? 'header-navbar__link--selected' : 'header-navbar__link--unselected') Home
    a.header-navbar__link(data-transition-to=2 class=selected === 2 ? 'header-navbar__link--selected' : 'header-navbar__link--unselected') About me
