mixin header-navbar(selected = 1)
  nav.header-navbar
    +link-local('Home', 1, selected)
    +link-local('About Me', 2, selected)
    +link-local('Personal Projects', 3, selected)
    +link-local('Work History', 4, selected)
