include images/image-round.pug
include images/image-background.pug
include links/link-icon.pug
include links/link-local.pug
include links/link-local-icon.pug
include headers/header-navbar.pug
include headers/floating-navbar.pug
include animations/typewriter.pug
include sections/section-main.pug
include sections/section-aboutme.pug
include sections/section-experience.pug
