.aboutme {
  background-color: #191a28;
  @include global-content-padding();

  .aboutme__header {
    @include text-header();
  }

  .aboutme__content {
    width: 100%;
    min-height: calc(100% - 200px);

    @include respond-above(desktop) {
      display: flex;
      flex-flow: row;
    }

    .aboutme__content__section {
      @include section-content-padding();

      .aboutme__content__text {
        @include open-sans('regular', 18px);
        margin: 50px 0;
        line-height: 26px;
        letter-spacing: 1px;

        .paragraph {
          margin: 25px 0;
        }

        @include respond-above(desktop) {
          font-size: 20px;
          line-height: 28px;
          margin: 50px 20px;
        }
      }

      .aboutme__content__section__title {
        display: block;
        width: 100%;
        @include roboto-slab('regular', 28px);
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
      }
    }

    .aboutme__content__image-wrapper {
      display: flex;
      width: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include respond-above(smallmobile) {
        flex-flow: row;
        text-align: left;
      }

      .aboutme__content__image {
        flex: 0 0 120px;
        width: 120px;
        height: 120px;
        border: 2px solid #fff;
        border-color: #fffb;
      }
    }

    .aboutme__content__name {
      @include roboto-slab('regular', 24px);
      letter-spacing: 1px;
      margin: 10px 20px;
    }
    .aboutme__content__location {
      @include roboto-slab('light', 20px);
      letter-spacing: 1px;
      margin: 10px 20px;
    }
    .aboutme__content__icon {
      margin-right: 10px;
      font-size: 20px;
    }

    .aboutme__content__skills {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      width: 100%;
      overflow: visible;

      .aboutme__content__skills__title {
        @include roboto-slab('regular', 22px);
        letter-spacing: 1px;
        flex: 0 0 100%;
        padding-right: 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 25px;

        @include respond-above(tablet) {
          display: flex;
          align-items: center;
          justify-content: end;
          flex: 0 0 140px;
          margin-top: 0;
        }
      }
      .aboutme__content__skills__set {
        flex: 0 0 100%;
        margin: 25px 0;
        text-align: center;

        @include respond-above(tablet) {
          flex: 0 0 calc(100% - 140px);
          text-align: left;
        }

        .aboutme__content__skill {
          position: relative;
          display: inline-block;
          width: 132px;
          padding: 8px 8px 8px 32px;
          margin: 6px;
          box-sizing: border-box;
          text-align: center;
          background-color: lighten(#191a28, 10%);
          box-shadow: 1px 1px 2px 1px #050709;
          border-radius: 4px;
          font-size: 16px;

          .aboutme__content__icon {
            margin-left: 0;
            position: absolute;
            left: 11px;
            top: 4px;
            font-size: 24px;
          }

          @include respond-above(mobile) {
            width: 158px;
            padding: 10px 8px 10px 36px;
            margin: 6px;
            font-size: 18px;

            .aboutme__content__icon {
              left: 15px;
              top: 7px;
              font-size: 28px;
            }
          }
        }
      }
    }
  }

  .aboutme__bottom {
    display: block;
    width: 100%;
    padding: 0 40px 24px 40px;
    box-sizing: border-box;
    text-align: center;
  }
}
