.experience {
  background-color: #241321;

  .experience__header {
    @include text-header();
  }

  .work-history {
      list-style: none;
      padding: 0;
      margin: 0;

      .work-history__company {
        display: flex;

        .work-history__company__logo {
          flex: 0 0 200px;
          background-color: white;
          padding: 8px 20px 10px 20px;
          border-radius: 5px;
          box-sizing: border-box;
          height: 80px;
          max-width: 200px;
        }
        .work-history__company__jobs {
          flex: 0 0 calc(100% - 200px);
        }
      }
  }
}
