@mixin experience-image {
  flex: 0 0 200px;
  background-size: contain;
  background-color: white;
  padding: 8px 20px 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 80px;
  max-width: 200px;
  box-shadow: 4px 4px 0 0 #793c6e;
}

.experience {
  background-color: #241321;
  @include global-content-padding();

  .experience__header {
    @include text-header();
  }

  .experience__content {
    @include section-content-padding();
  }

  .work-history {
      list-style: none;
      padding: 0;
      margin: 0;

      .work-history__company {
        display: flex;
        align-items: center;
        @include section-content-padding();

        .work-history__company__logo {
          @include experience-image();
        }
        .work-history__company__jobs {
          flex: 0 0 calc(100% - 200px);
          margin: 0;
          padding: 0;

          .work-history__company__jobs__position {
            display: flex;
            align-items: center;
            list-style: none;
            @include section-content-padding();

            .work-history__company__jobs__position__client {
              @include experience-image();
            }
            .work-history__company__jobs__position__empty {
              flex: 0 0 200px;
            }
            .work-history__company__jobs__position__title {
              flex: 0 0 225px;
              padding-left: 25px;

              .title--main {
                @include roboto-slab('regular', 20px);
                text-align: center;
                margin: 0 0 10px 0;
              }
              .title--date {
                @include open-sans('regular', 18px);
                text-align: center;
                margin: 0;
                opacity: 0.8;
              }
            }
            .work-history__company__jobs__position__desc {
              flex: 0 0 calc(100% - 425px);
              padding-left: 25px;
              @include open-sans('regular', 18px);
              line-height: 28px;
              opacity: 0.8;

              .feature {
                margin-top: 5px;
              }
            }
          }
        }
      }
  }
}
