.main {
  display: block;
  position: relative;
  height: 100%;

  .main__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;

    .main__background-image {
      filter: blur(5px) contrast(120%) brightness(25%);
      transform: scale(1.05);
    }
  }

  .main__top {
    top: 0;
    @include section-top-bottom();
    display: flow-root;

    .main__top__icons {
      width: 100%;
      text-align: right;

      @include respond-above(mobile) {
        width: auto;
        float: right;
      }
    }

    .main__top__name {
      @include roboto-slab('regular', 28px);
      text-align: center;
      color: #fff;
      letter-spacing: 2px;
      text-shadow: 1px 1px 0px #000;
      padding-top: 40px;
      width: 100%;

      @include respond-above(mobile) {
        width: auto;
        float: left;
        text-align: left;
        padding-top: 0;
      }
    }
  }

  .main__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .main__content {
      width: 100%;
      text-align: center;
      color: white;

      .title {
        height: 168px;
        width: 100%;
        margin: 0;
        margin-top: 50px;
        @include roboto-slab('regular', 62px);


        @include respond-above(mobile) {
          margin-top: 0;
          height: auto;
          font-size: 72px;
        }
      }
      .subtitle {
        width: 100%;
        margin: 0;
        margin-top: 12px;
        height: 68px;
        @include open-sans('light', 24px);

        .typewriter__cursor {
          margin-left: -4px;
        }

        @include respond-above(smallmobile) {
          height: auto;
        }

        @include respond-above(mobile) {
          margin-top: 0;
          font-size: 36px;

          .typewriter__cursor {
            margin-left: -6px;
          }
        }
      }
    }
  }

  .main__bottom {
    bottom: 0;
    @include section-top-bottom();
    text-align: center;
  }
}

.page-wrapper .main.page.page--current {
  z-index: 10;
}
