.projects {
  background-color: #142142;
  @include global-content-padding();

  .projects__header {
    @include text-header();
  }

  .projects__content {
    width: 100%;
    // min-height: calc(100% - 200px); // work in progress
    min-height: calc(100% - 300px);

    display: flex;
    align-items: center;
    flex-direction: column;

    @include respond-above(desktop) {
      margin-top: 40px;
      align-items: start;
      justify-content: center;
      flex-direction: row;
    }
  }

  .projects__bottom {
    display: block;
    width: 100%;
    padding: 0 40px 24px 40px;
    box-sizing: border-box;
    text-align: center;
  }
}
