include templates/components/_components.pug

doctype html
html
  head
    title=htmlWebpackPlugin.options.title
    meta(charset='utf-8')
  body.page-wrapper
    include templates/_header.pug
    include templates/_aboutme.pug
