include templates/components/_components.pug

doctype html
html
  head
    title=htmlWebpackPlugin.options.title
    meta(charset='utf-8')
  body.page-wrapper
    +floating-navbar()
    include templates/_main.pug
    include templates/_aboutme.pug
