include templates/components/_components.pug

doctype html
html
  head
    title=htmlWebpackPlugin.options.title
    meta(name='description', content='Andrés Brugarolas. Front-end Developer which produces high quality web apps with an exceptional user experience.')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no')
  body.page-wrapper
    +floating-navbar()
    include templates/_main.pug
    include templates/_aboutme.pug
    include templates/_projects.pug
    include templates/_experience.pug
